# OSX
.DS_Store

# Keys store
keys

# Distribution / packaging
.Python
/env/
/build/
/develop-eggs/
/dist/
/downloads/
/eggs/
/lib/
/lib64/
/parts/
/sdist/
/var/
*.egg-info/
.installed.cfg
*.egg

# App
node_modules/
server/*.log

# Editors
.idea
*.swp

.git/*

dump.rdb

docker/private/*
